@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
.container{
  padding: 0 10vw;
}

.app{
  overflow-x: hidden;
  font-family: 'Jura', sans-serif !important;

}

.d-flex{
  display: flex;
} 

.vertically-center{
  align-items: center;
}


.center-vertically{
  height: 100%;
  margin: auto;
}

.m-h-100{
  max-height: 100%;
}


.border-bottom-green{

  border-bottom : 3px solid #2BC6C8;
}

.border-right-green{

  border-right : 3px solid #2BC6C8;
}


.w-100{
  width: 100%;
}


.btn-with-icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: fit-content !important;
  border: none !important;
  box-shadow: 0 0 5px #2bc6c8 !important;
  transition: all 0.5s ease-in-out !important;
}

.btn-with-icon:hover {
  background-color: #2bc6c8 !important;
  color: white !important;
}

.btn-with-icon-default {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: fit-content !important;
  border: none !important;
  box-shadow: 0 0 5px rgba(0,0,0, 0.3) !important;
  transition: all 0.5s ease-in-out !important;
}

.text-center{
  text-align: center;
}